{% extends 'base.html' %}

{% block content %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">

        {% if tutor.free[dayofweek][time] == "True"  %}
        <form action="/booking_done" class="card mb-3" method="POST">
          <div class="card-body text-center pt-5">
            <img src="../static/pict 1.png" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ tutor.name }}</h2>

            <p class="my-1">Запись на пробный урок</p>

            <p class="my-1">{{ days[dayofweek] }}, {{ time }}</p>


          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  {{ form.clientWeekday(class="form-control", type="hidden", value=dayofweek)}}
                  {{ form.clientTime(class="form-control", type="hidden", value=time)}}
                  {{ form.clientTeacher(class="form-control", type="hidden", value=tutor.id)}}
              </div>
            {{ form.clientName.label(class="mb-1 mt-2") }}
            {{ form.clientName(class="form-control", type="text")}}
            {{ form.clientPhone.label(class="mb-1 mt-2") }}
            {{ form.clientPhone(class="form-control", type="tel")}}

            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

          </div>
        </form>
        {% else %}
        <div class="card-body text-center pt-5">
        <p class="my-1">Время недоступно</p>
        </div>
        {% endif %}
      </div>
    </div>
  </main>

{% endblock %}